@use "../utils/mixins" as *;
@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../components/buttons" as *;

.lazyblock-hall-plan--seating-plan {
  .seating-plan-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;

    .btn {
      background-color: $color-brand-red;
      color: $color-white;
      border-color: $color-brand-red;

      &:hover {
        background-color: $color-brand-red;
        border-color: $color-brand-red;
        color: $color-black;
      }
    }
  }
}
