@use "sass:map";

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: 360px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 1600px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: 1920px) {
      @content;
    }
  }
}

@mixin font-responsive(
  $font-size,
  $line-height,
  $font-weight,
  $breakpoints: ()
) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;

  @each $bp, $props in $breakpoints {
    @include respond($bp) {
      @if map.has-key($props, font-size) {
        font-size: map.get($props, font-size);
      }
      @if map.has-key($props, line-height) {
        line-height: map.get($props, line-height);
      }
      @if map.has-key($props, font-weight) {
        font-weight: map.get($props, font-weight);
      }
    }
  }
}
