@use "../utils/mixins" as *;
@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../components/buttons" as *;

footer.site-footer {
  background: linear-gradient(180deg, #287fd9 0%, #0a61bb 100%);
  color: $color-white;

  .footer-inner {
    padding-top: 70px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @include respond(lg) {
      gap: 60px;
    }

    .footer-diviver {
      width: 100%;
      height: 1px;
      background-color: rgba($color-white, 0.29);
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .heading {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .title {
          @extend .fs-40-100-600-sm-48-lg-64;
        }

        .subtitle {
          @extend .fs-18-150-500-lg-20;
        }
      }

      .form-shortcode {
        .wpcf7-form {
          display: flex;
          flex-direction: column;
          gap: 16px;

          input,
          textarea {
            max-width: 100%;
            width: 100%;
            resize: none;

            &::placeholder {
              color: $color-white;
            }
          }

          p {
            @extend .fs-16-120-400;
            padding: 12px 16px;
            border-radius: 12px;
            background-color: rgba($color-white, 0.08);
            -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
            border: 1px solid rgba($color-white, 0.2);

            &:has(input[type="submit"]) {
              @extend .btn;
              @extend .white;

              padding: 16px 24px;

              input {
                @extend .fs-18-120-600;
              }

              span {
                display: none;
              }
            }
          }
        }
      }

      @include respond(md) {
        flex-direction: row;

        & > * {
          flex: 1;
        }
      }
    }

    .company-contacts {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .contact-group {
        display: flex;
        flex-direction: column;
        gap: 12px;

        h3 {
          @extend .fs-18-150-600;
          color: $color-white;
        }

        p {
          @extend .fs-16-150-400;
          color: $color-white;
        }
      }

      @include respond(sm) {
        flex-direction: row;

        & > * {
          flex: 1;
        }
      }
    }

    .footer-footer {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .footer-copyright {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @extend .fs-14-130-400;

        @include respond(sm) {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}
