@use "../utils/mixins" as *;
@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../components/buttons" as *;

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 1000;

  .header-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .site-branding {
      margin-right: auto;

      img.logo {
        max-height: 30px;
        width: auto;

        &.dark {
          display: none;
        }
      }
    }

    .main-navigation {
      display: none;

      .header-menu {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;

        li a {
          @extend .fs-16-150-500;
          color: $color-white-70;
          transition: color 0.3s ease;

          &:hover {
            color: $color-white;
          }
        }

        .menu-divider {
          display: none;
          width: 1px;
          height: 24px;
          background-color: #ddd;
          margin: 0 12px;
        }
      }
    }

    .header-actions {
      display: flex;
      align-items: center;
      gap: 15px;

      .language-switcher {
        display: none;

        .lang-dropdown {
          display: none;
          position: absolute;
          top: 65px;
          width: 176px;
          right: 0;
          padding: 7px 16px;
          border-radius: 12px;
          background: $color-white;
          box-shadow: 0 8px 17px 0 #00000017;
          color: $color-black;

          li a {
            @extend .fs-16-150-400;
            display: flex;
            justify-content: space-between;
            padding-top: 9px;
            padding-bottom: 9px;

            .icon.unchecked {
              path {
                fill: $color-black-60;
              }

              .inner-circle {
                fill: transparent;
              }
            }

            &:hover:has(.icon.unchecked) .outer-circle {
              fill: $color-blue;
            }
          }
        }
      }

      .button-separator {
        display: none;
      }

      .mobile-menu-open {
        .menu-text {
          display: none;
        }
      }
    }

    .contact-button {
      display: none;
    }
  }

  @include respond(sm) {
    .header-container,
    .mobile-menu.active {
      padding-top: 30px;
      padding-bottom: 30px;

      .site-branding img.logo {
        max-height: 40px;
      }

      .header-actions {
        padding: 12px 24px;

        .language-switcher {
          display: block;
        }

        .button-separator {
          display: block;
        }

        .mobile-menu-open {
          .menu-text {
            display: block;
          }
        }
      }

      .contact-button {
        display: inline-flex;
      }
    }
  }

  @include respond(lg) {
    .header-container,
    .mobile-menu.active {
      .main-navigation {
        display: block;

        .header-menu {
          display: flex;

          .menu-divider {
            display: inline-block;
          }
        }
      }

      .header-actions {
        margin-left: unset;

        .language-switcher {
          .lang-dropdown-hover-container {
            right: 0;
          }
        }

        .button-separator {
          display: none;
        }

        .mobile-menu-open {
          display: none;
        }
      }
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-color: #00000080;
    -webkit-backdrop-filter: blur(250px);
    backdrop-filter: blur(250px);
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    overflow-y: auto;

    &.active {
      display: flex;
    }

    .container-wrapper {
      .mobile-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        .site-branding img.logo {
          max-height: 30px;

          @include respond(sm) {
            max-height: 40px;
          }
        }

        .header-actions {
          display: flex;
          align-items: center;
          gap: 15px;

          .language-switcher {
            display: none;

            .lang-dropdown {
              display: none;
              position: absolute;
              top: 65px;
              width: 176px;
              right: 0;
              padding: 7px 16px;
              border-radius: 12px;
              background: $color-white;
              box-shadow: 0 8px 17px 0 #00000017;
              color: $color-black;

              li a {
                @extend .fs-16-150-400;
                display: flex;
                justify-content: space-between;
                padding-top: 9px;
                padding-bottom: 9px;

                .icon.unchecked {
                  path {
                    fill: $color-black-60;
                  }

                  .inner-circle {
                    fill: transparent;
                  }
                }

                &:hover:has(.icon.unchecked) .outer-circle {
                  fill: $color-blue;
                }
              }
            }
          }

          .button-separator {
            display: none;
          }

          .mobile-menu-close {
            .menu-text {
              display: none;
            }
          }
        }
      }

      .mobile-menu-content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .mobile-menu-divider {
          width: 100%;
          height: 1px;
          background-color: rgba($color-white, 0.4);
        }

        nav ul {
          display: flex;
          flex-direction: column;
          gap: 32px;

          li {
            @extend .fs-20-120-500;
            color: $color-white;
          }

          span {
            display: none;
          }
        }

        .mobile-language-switcher {
          position: relative;

          .current-lang-mobile {
            @extend .fs-16-150-500;
            color: $color-white;
          }

          .lang-dropdown-mobile {
            display: none;
            position: absolute;
            top: 33px;
            left: 0;
            width: 176px;
            padding: 7px 16px;
            border-radius: 12px;
            background: $color-white;
            box-shadow: 0 8px 17px 0 #00000017;
            color: $color-black;
            z-index: 1001;

            li a {
              @extend .fs-16-150-400;
              display: flex;
              justify-content: space-between;
              padding-top: 9px;
              padding-bottom: 9px;

              .icon.unchecked {
                path {
                  fill: $color-black-60;
                }
                .inner-circle {
                  fill: transparent;
                }
              }

              &:hover:has(.icon.unchecked) .outer-circle {
                fill: $color-blue;
              }
            }
          }
        }

        .company-contacts {
          display: flex;
          flex-direction: column;
          gap: 40px;

          .contact-group {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h3 {
              @extend .fs-18-150-600;
              color: $color-white;
            }

            p {
              @extend .fs-16-150-400;
              color: $color-white;
            }
          }
        }
      }
    }

    @include respond(sm) {
      .container-wrapper {
        .mobile-menu-header {
          .header-actions {
            padding: 12px 24px;

            .language-switcher {
              display: block;
            }

            .button-separator {
              display: block;
            }

            .mobile-menu-close {
              .menu-text {
                display: block;
              }
            }
          }
        }

        .mobile-menu-content {
          height: calc(
            100vh -
              (
                30px // .mobile-menu padding-top
                + 52px // .mobile-menu-header height
                + 40px // .mobile-menu margin-bottom
                + 30px // .mobile-menu padding-bottom
              )
          );

          flex-direction: row;
          justify-content: space-between;

          .mobile-menu-divider {
            display: none;
          }

          .mobile-navigation {
            gap: 16px;

            ul li {
              @include font-by-name(fs-56-120-600);
            }
          }

          .mobile-language-switcher {
            display: none;
          }

          .company-contacts {
            justify-content: end;
          }
        }
      }
    }

    @include respond(lg) {
      .container-wrapper {
        .mobile-menu-header {
          .header-actions {
            margin-left: unset;

            .language-switcher {
              .lang-dropdown-hover-container {
                right: 0;
              }
            }

            .button-separator {
              display: none;
            }

            .mobile-menu-open {
              display: none;
            }
          }
        }
      }
    }
  }

  &.on-white {
    .site-branding .logo {
      &.light {
        display: none;
      }
    }

    .header-container .site-branding .logo {
      &.dark {
        display: block;
      }
    }
    
    > :not(.mobile-menu) {
      .main-navigation,
      .header-actions {
        background-color: rgba($color-dark-blue, 0.2);
        color: rgba($color-dark-blue, 0.7);
        border: 1px solid rgba($color-dark-blue, 0.2);

        &:hover {
          color: $color-dark-blue;
        }

        .icon {
          path {
            fill: rgba($color-dark-blue, 1);
          }
        }
      }

      .main-navigation {
        .header-menu {
          li {
            a {
              color: rgba($color-dark-blue, 0.7);

              &:hover {
                color: rgba($color-dark-blue, 1);
              }
            }
          }

          .menu-divider {
            background-color: rgba($color-dark-blue, 0.2);
          }
        }
      }

      .btn.white {
        background: $color-white;
        border: 1px solid $color-dark-blue;
        color: $color-dark-blue;

        .icon {
          fill: $color-dark-blue;
        }
      }
    }
  }
}
