@use "../utils/mixins" as *;
@use "../base/colors" as *;
@use "../base/typography" as *;

.block--offset-info {
  .white-section {
    height: 70px;
    
    @include respond(md) {
      height: 140px;
    }
  }

  .offset-info-container {
    @include respond(sm) {
      background: #fff;
      background: linear-gradient(
        90deg,
        $color-white 0%,
        $color-white 50%,
        $color-blue 50%,
        $color-blue 100%
      );
    }

    .content-container {
      display: flex;
      flex-direction: column;
      
      @include respond(sm) {
        flex-direction: row;
      }

      @include respond(md) {
        & > * {
          flex: 1;
        }
      }

      .image-container {
        height: 250px;
        flex-shrink: 0;

        @include respond(sm) {
          height: auto;
          width: 30%;
        }

        img {
          object-position: center;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .text-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: $color-blue;
        color: $color-white;
        padding: 16px;

        @include respond(md) {
          gap: 32px;
        }
        
        @include respond(sm) {
          padding: 40px 0 40px 32px;
        }

        @include respond(md) {
          padding: 60px 0 60px 40px;
        }

        .title {
          @extend .fs-40-100-600-sm-48-md-40-lg-48;
        }

        .description {
          @extend .fs-16-150-500-sm-18;
          color: rgba($color-white, 0.7);

          strong {
            @extend .fs-16-150-600-sm-18;
            color: $color-white;
          }
        }
      }
    }
  }
}
